{% extends 'base.html' %}

{% block title %}Editar perfil{% endblock %}

{% block content %}
<div class="col col-md-6 col-lg-4 py-3">
    <div class="card shadow-sm">
        <div class="card-body">
            <h3 class="card-title text-center">Editar perfil</h3>
            <form method="post">
                {% csrf_token %}

                {% include 'messages.html' %}

                {% include 'form_render.html' %}

                <p class="form-text"><a href="{% url 'password_change' %}">Alterar senha</a></p>
                <p class="form-text"><a href="#">Exluir conta</a></p>

                <button class="btn btn-primary w-100" type="submit">Salvar</button>
            </form>
            
        </div>
    </div>
</div>
{% endblock %}