{% extends 'base.html' %}

{% block title %}Entrar{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div class="col col-md-6 col-lg-4 py-3">
    <div class="card shadow-sm">
        <div class="card-body">
            <h3 class="card-title text-center">Você já está logado</h3>
            <div class="text-center mt-3">
                <a href="{% url 'pagina_inicial' %}" class="btn btn-primary">Ir para a página inicial</a>
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="col col-md-6 col-lg-4 py-3">
    <div class="card shadow-sm">
        <div class="card-body">
            <h3 class="card-title text-center">Entrar</h3>
            <form method="post">
                {% csrf_token %}

                {% include 'messages.html' %}

                {%include 'form_render.html' %}

                <p class="form-text"><a href="{% url 'password_reset' %}">Esqueceu a senha?</a></p>
                <p class="form-text">Não possui uma conta? <a href="{% url 'register' %}">Crie uma agora!</a></p>

                <button class="btn btn-primary w-100" type="submit">Entrar</button>
            </form>
            
        </div>
    </div>
</div>
{% endif %}
{% endblock %}