{% extends 'base.html' %}
{% load static %}

{% block title %}Redefinir senha{% endblock %}

{% block content %}
<div class="col col-md-6 col-lg-4 py-3">
    <div class="card shadow-sm">
        <div class="card-body">
            <h3 class="card-title text-center">Redefinição concluida</h3>
            <p class="form-text text-center">Sua senha foi redefinida com sucesso!</p>
            <div class="text-center">
                <a href="{% url 'pagina_inicial' %}" class="btn btn-primary">Acessar Site</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}