{% extends 'base.html' %}
{% load static %}

{% block title %}Recuperar senha{% endblock %}

{% block content %}
<div class="col col-md-6 col-lg-4 py-3">
    <div class="card shadow-sm">
        <img src="{% static 'accounts/img/email.png' %}" alt="Caixa de correio recebendo cartas." class="card-img-top">
        <div class="card-body">
            <h3 class="card-title text-center">Instruções enviadas</h3>
            <p class="form-text text-center">Te enviamos um email com instruções para recuperar sua senha. Lembre-se de verificar sua pasta de spam.</p>
        </div>
    </div>
</div>
{% endblock %}