<div class="d-flex justify-content-center py-2" id="questao-{{ questao.id }}">
    {% if questao.corrigida %}
        {% if questao.acertada %}
        <div class="col bg-success text-white rounded mx-2 py-1">
        {% else %}
        <div class="col bg-danger text-white rounded mx-2 py-1">
        {% endif %}
            <span class="fs-4">{{ questao.alternativa }}</span>
        </div>
    {% else %}
        <div class="btn-group" role="group">
            {% if questao.alternativa is None %}
                <button class="btn btn-outline-primary alternativa alt-A">A</a>
                <button class="btn btn-outline-primary alternativa alt-B">B</a>
                <button class="btn btn-outline-primary alternativa alt-C">C</a>
                <button class="btn btn-outline-primary alternativa alt-D">D</a>
                <button class="btn btn-outline-primary alternativa alt-E">E</a>
            {% elif questao.alternativa == 'A' %}
                <button class="btn btn-primary alternativa alt-A">A</a>
                <button class="btn btn-outline-primary alternativa alt-B">B</a>
                <button class="btn btn-outline-primary alternativa alt-C">C</a>
                <button class="btn btn-outline-primary alternativa alt-D">D</a>
                <button class="btn btn-outline-primary alternativa alt-E">E</a>
            {% elif questao.alternativa == 'B' %}
                <button class="btn btn-outline-primary alternativa alt-A">A</a>
                <button class="btn btn-primary alternativa alt-B">B</a>
                <button class="btn btn-outline-primary alternativa alt-C">C</a>
                <button class="btn btn-outline-primary alternativa alt-D">D</a>
                <button class="btn btn-outline-primary alternativa alt-E">E</a>
            {% elif questao.alternativa == 'C' %}
                <button class="btn btn-outline-primary alternativa alt-A">A</a>
                <button class="btn btn-outline-primary alternativa alt-B">B</a>
                <button class="btn btn-primary alternativa alt-C">C</a>
                <button class="btn btn-outline-primary alternativa alt-D">D</a>
                <button class="btn btn-outline-primary alternativa alt-E">E</a>
            {% elif questao.alternativa == 'D' %}
                <button class="btn btn-outline-primary alternativa alt-A">A</a>
                <button class="btn btn-outline-primary alternativa alt-B">B</a>
                <button class="btn btn-outline-primary alternativa alt-C">C</a>
                <button class="btn btn-primary alternativa alt-D">D</a>
                <button class="btn btn-outline-primary alternativa alt-E">E</a>
            {% elif questao.alternativa == 'E' %}
                <button class="btn btn-outline-primary alternativa alt-A">A</button>
                <button class="btn btn-outline-primary alternativa alt-B">B</button>
                <button class="btn btn-outline-primary alternativa alt-C">C</button>
                <button class="btn btn-outline-primary alternativa alt-D">D</button>
                <button class="btn btn-primary alternativa alt-E">E</button>
            {% endif %}
        </div>
    {% endif %}
</div>