<div class="d-flex justify-content-center py-2 col-11 mx-auto" id="questao-{{ questao.id }}">
    {% if questao.alternativa %}
        {% if questao.corrigida %}
            {% if questao.acertada %}
            <div class="col bg-success text-white rounded mx-2 py-1">
            {% else %}
            <div class="col bg-danger text-white rounded mx-2 py-1">
            {% endif %}
                <span class="fs-4">{{ questao.alternativa }}</span>
            </div>
        {% else %}
        <div class="col bg-light rounded mx-2 py-1">
            <span class="fs-4">{{ questao.alternativa }}</span>
        </div>
        <div class="ms-auto py-1">
            <button class="btn btn-danger correcao c-0" title="Errado"><i class="bi bi-x-lg"></i></button>
            <button class="btn btn-success correcao c-1" title="Certo"><i class="bi bi-check-lg"></i></button>
        </div>
        {% endif %}
    {% else %}
        <div class="alert alert-info text-center">
            <span>Essa questão não foi marcada ainda.</span>
        </div>
    {% endif %}
</div>